table {
    border-collapse: collapse;
}

th,
td {
    font: 1em/1.25em "verdana";
    padding: 3px 1em;
}

thead {
    background: orange;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: wheat;
}