#question {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
}

button {
    display: block;
    margin: 1em;
    padding: 4px;
    background: #22a;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 6px;
    min-width: 20em;
    text-align: center;
}

button:hover {
    background-color: navy;
}

.correct,
.correct:hover {
    background: green;
}